
/*For bigger screen then normal 960px desktop*/
@media (min-width: 1200px) {
    
    }
    @media only screen and (max-width: 1199px) {
    .legion-experience-single-bottom {
        width: calc(100% - 76px);
    }
    .legion-bar-icon span::before {
      top: 292px;
    }
    .legion-about-header-single-img {
        width: 180px;
        left: -85px;
    }
    
    }
    
    /*For Tablet Layout*/
    @media (min-width: 768px) and (max-width: 991px) {
    
    body {
      font-size: 14px;
    }
    .sticky-menu {
      padding: 5px 0;
    }
    .legion-menu .nav-icon {
      top: 17px;
    }
    .legion-portfolio-about-inner-section-left {
      margin-bottom: 50px;
    }
    .legion-bar-icon span::before {
      top: 222px;
    }
    .legion-portfolio-call-to-action-right p {
      padding: 0 1px;
    }
    .legion-experience-single-bottom {
        width: calc(100% - 76px);
    }
    .legion-experience-single-bottom p {
      padding: 0 20px 0px 0px;
    }
    .legion-header-mein-content h1 {
      font-size: 2.188em;
    }
    .legion-header-mein-content h1::before {
      bottom: 30px;
    }
    .legion-about-header-mein-content-colume h1{
        font-size: 2.188em;	
    }
    .legion-about-header-mein-content-colume h1::before{
      bottom: 30px;
    }
    .legion-about-header-single-img img {
      width: 50%;
    }
    .legion-portfolio-single-team-skill {
      padding: 20px 15px;
    }
    .legion-portfolio-single-team-skill > p {
      width: 28%;
    }
    .legion-portfolio-team-skill {
      width: 64%;
    }
    .legion-portfolio-skill-percentage {
      left: 0px;
      width: 8%;
    }
    .legion-portfolio-about-section {
      padding: 0 0 50px;
    }
    .legion-about-header-single-img {
        display: none;
    }
    
    
    }
    /*For Wide Mobile Layout*/
      @media (max-width: 767px) {
    
     body {
      font-size: 13px;
    }
    .sticky-menu {
      padding: 5px 0;
    }
    .legion-menu .nav-icon {
      top: 9px;
    }
    
    .legion-header-mein-content-colume {
      width: 100%;
    }
    .legion-about-header-mein-content-colume {
      width: 100%;
    }
    .legion-portfolio-background-right {
      width: 100%;
    }
    .legion-about-portfolio-background-right {
     display: none;
    }
    .legion-header-mein-content-colume::before {
      display: none;
    }
    .legion-header-mein-content-colume::after {
      display: none;
    }
    .legion-about-header-mein-content-colume::before {
      display: none;
    }
    .legion-about-header-mein-content-colume::after {
      display: none;
    }
    .legion-portfolio-menu-toggle {
      right: 30px;
    }
    .legion-portfolio-about-inner-section-left {
      margin-bottom: 40px;
    }
    .legion-experience-single-bottom {
       width: 88%;
    }
    .legion-bar-icon span::before {
      top: 220px;
    }
    .legion-portfolio-call-to-action-left {
      width: 100%;
      text-align: center;
    }
    .legion-portfolio-call-to-action-left img {
      width: 100%;
    }
    .legion-portfolio-call-to-action-right {
      padding: 50px;
      text-align: center;
      width: 100%;
      padding-top: 0;
    }
    .legion-contact-form-left {
      width: 100%;
      margin-bottom: 35px;
    }
    .legion-contact-form-right {
      width: 100%;
      margin-bottom: 50px;
    }
    .legion-contact-form-colume {
      background-color: transparent;
      box-shadow: none;
      left: 0;
      padding: 35px 30px;
      position: relative;
      top: 0;
      transform: none;
    }
    .legion-client-area {
      padding: 10px 0;
    }
    #map {
      height: 400px;
    }
    .legion-about-header-single-img img {
    display: none;}
    .legion-experience-inner-single-section::before{
      display: none;
    }
    .legion-experience-inner-single-section::after{
      display: none;
    }
    .legion-experience-inner-single-section > span {
        display: none;
    }
    .legion-banner-slider.owl-carousel{
      overflow: hidden;
    }
    .legion-portfolio-background-right,
    .legion-header-section {
        height: 100vh;
        min-height: 100vh;
    }
    .legion-portfolio-gallery-btn {
        padding-bottom: 55px;
    }
    
    }
    
    
    @media (max-width: 630px) {
    
    .portfolio-item.legion-filter-item {
      width: 100% !important;
    }
    
    
    }
    /*For 320-384px up Mobile Layout*/
    @media (max-width: 479px) {
    
    body {
      font-size: 13px;
    }
    .logo img {
      width: 60%;
    }
    .legion-portfolio-heding {
      padding: 50px 0 100px;
      text-align: center;
    }
    .legion-portfolio-about-section {
      padding: 0 0 30px;
    }
    .legion-gallery-section {
      padding: 30px 0;
    }
    .legion-header-mein-content h1 {
      font-size: 2.188em;
    }
    .legion-header-mein-content h1::before {
      bottom: 28px;
      width: calc(100% + 28px);
    }
    .legion-about-header-mein-content-colume h1{
      font-size: 2.188em;	
    }
    .legion-about-header-mein-content-colume h1::before{
      bottom: 28px;
      width: calc(100% + 28px);
    }
    .legion-portfolio-about-inner-section-text-right {
      text-align: center;
    }
    .legion-about-logo {
      display: none;
    }
    .legion-portfolio-about-inner-section-button-right {
      text-align: center;
    }
    .legion-portfolio-btn a {
      float: none;
    }
    .legion-portfolio-single-team-skill > p {
      float: none;
      top: 0;
      width: 100%;
    }
    .legion-portfolio-team-skill {
      float: none;
      top: 0;
      width: 100%;
    }
    .legion-portfolio-skill-percentage {
      float: none;
      top: -33px;
      width: 100%;
    }
    .legion-portfolio-single-team-skill {
      padding: 8px 20px;
    }
    .legion-experience-inner-single-section::before {
      display: none;
    }
    .legion-bar-icon::after {
      display: none;
    }
    .legion-bar-icon span::before {
      display: none;
    }
    .legion-bar-icon {
      width: 100%;
    }
    .legion-experience-heding-title {
      float: none;
      margin-bottom: 15px;
    }
    .legion-experience-single-date {
      float: none;
    }
    .legion-experience-single-bottom {
      margin-left: 0;
      width: 100%;
    }
    .legion-experience-section {
      text-align: center;
    }
    .legion-bar-icon i {
      margin: 0 auto 35px;
    }
    .legion-btn a {
      padding: 10px 40px;
    }
    .legion-portfolio-call-to-action-right {
      margin-bottom: 30px;
      padding: 5px;
    }
    #map {
      height: 300px;
    }
    .legion-form-group input {
      margin-bottom: 42px;
    }
    .legion-single-group-left {
      width: 100%;
    }
    .legion-single-group-right {
      width: 100%;
    }
    
    .portfolio-item:not(.menu) {
       width: 100% !important;
       height: auto !important
    }
    
    }