@charset "utf-8";
/*------------------------------------------------------------------
.______    __  ___   ___  __   _______  ___________    ____ 
|   _  \  |  | \  \ /  / |  | |   ____||   ____\   \  /   / 
|  |_)  | |  |  \  V  /  |  | |  |__   |  |__   \   \/   /  
|   ___/  |  |   >   <   |  | |   __|  |   __|   \_    _/   
|  |      |  |  /  .  \  |  | |  |____ |  |        |  |     
| _|      |__| /__/ \__\ |__| |_______||__|        |__|     


[Main Stylesheet]

Project:    Legion
Version:    0.1
Last change:    20.09.2017
Primary use:    Responsive personal resume template


[Typography]

Body:               16px 'Open Sans', sans-serif;



/*==============================
[Table of contents]


-------------------------------------------------------------------*/

/* -----------------------------------------------------------------
  1. #preloader stylesheet End
  2.legion-header-section End
  3.legion-portfolio-about-section End
  4.legion-experience-section End
  5.legion-gallery-section End
  6.legion-portfolio-call-to-action-section End
  7.legion-testimonial-slider-section End
  8.legion-client-area End
  9.legion-contact-form-section End
 10.legion-fotter-section End
 11 menu-style End
-------------------------------------------------------------------*/

body{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 1.6;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
a, a:active, a:focus, a:active {
  color: #222222;
  text-decoration:none !important
}
a:focus {
  outline:0px solid
}
img {
  max-width:100%;
  border: none;
  height: auto;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2{
  color: #222222;
}
h2 {
  font-size: 1.75em;
}
input[type="text"], 
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
input:focus,
textarea:focus {
  outline: none;
  font-style: italic;
}

blockquote {
  border-left-width: 2px;
  margin-bottom: 25px;
  margin-left: 45px;
  margin-top: 25px;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}
blockquote::before {
  color: #999;
  content: "\f10d";
  font-family: 'fontawesome';
  font-size: 1.5em;
  left: -45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

iframe {
  width: 100%;
}
  .clear-both:before,
  .clear-both:after {
    display: table;
    content: "";
    clear: both;
  }


#preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 99999;
  width: 100%; 
  height: 100%;
  overflow: visible; 
  background:#000; 
  background-repeat: no-repeat;
  background-position: center center;
}
.cssload-wrap * {
    color: rgb(255,255,255);
}
.cssload-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -78px;
  margin-top: -39px;
}

.cssload-bg {
  padding: 29px 29px 29px 0;
  background: rgb(48,111,153);
  animation: cssload-bg 1.73s linear infinite;
    -o-animation: cssload-bg 1.73s linear infinite;
    -ms-animation: cssload-bg 1.73s linear infinite;
    -webkit-animation: cssload-bg 1.73s linear infinite;
    -moz-animation: cssload-bg 1.73s linear infinite;
  box-shadow: inset 0 0 44px 29px black;
    -o-box-shadow: inset 0 0 44px 29px black;
    -ms-box-shadow: inset 0 0 44px 29px black;
    -webkit-box-shadow: inset 0 0 44px 29px black;
    -moz-box-shadow: inset 0 0 44px 29px black;
}

.cssload-loading {
  position: relative;
  text-align: right;
  text-shadow: 0 0 6px rgb(188,228,255);
  height: 19px;
  width: 146px;
}
.cssload-loading span {
  display: block;
  text-transform: uppercase;
  position: absolute;
  right: 29px;
  height: 19px;
  width: 195px;
  line-height: 19px;
}
.cssload-loading span:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -20px;
  height: 19px;
  width: 16px;
  background: rgb(234,247,255);
  box-shadow: 0 0 15px rgb(188,228,255);
    -o-box-shadow: 0 0 15px rgb(188,228,255);
    -ms-box-shadow: 0 0 15px rgb(188,228,255);
    -webkit-box-shadow: 0 0 15px rgb(188,228,255);
    -moz-box-shadow: 0 0 15px rgb(188,228,255);
  animation: cssload-blink 3.91s infinite;
    -o-animation: cssload-blink 3.91s infinite;
    -ms-animation: cssload-blink 3.91s infinite;
    -webkit-animation: cssload-blink 3.91s infinite;
    -moz-animation: cssload-blink 3.91s infinite;
}
.cssload-loading span.cssload-title {
  animation: cssload-title 3.91s linear infinite;
    -o-animation: cssload-title 3.91s linear infinite;
    -ms-animation: cssload-title 3.91s linear infinite;
    -webkit-animation: cssload-title 3.91s linear infinite;
    -moz-animation: cssload-title 3.91s linear infinite;
}

@keyframes cssload-title {
  0% {
    opacity: 0;
    right: 127px;
  }
  48% {
    opacity: 0;
    right: 127px;
  }
  52% {
    opacity: 1;
    right: 29px;
  }
  70% {
    opacity: 1;
    right: 29px;
  }
  100% {
    opacity: 0;
    right: 29px;
  }
}

@-o-keyframes cssload-title {
  0% {
    opacity: 0;
    right: 127px;
  }
  48% {
    opacity: 0;
    right: 127px;
  }
  52% {
    opacity: 1;
    right: 29px;
  }
  70% {
    opacity: 1;
    right: 29px;
  }
  100% {
    opacity: 0;
    right: 29px;
  }
}

@-ms-keyframes cssload-title {
  0% {
    opacity: 0;
    right: 127px;
  }
  48% {
    opacity: 0;
    right: 127px;
  }
  52% {
    opacity: 1;
    right: 29px;
  }
  70% {
    opacity: 1;
    right: 29px;
  }
  100% {
    opacity: 0;
    right: 29px;
  }
}

@-webkit-keyframes cssload-title {
  0% {
    opacity: 0;
    right: 127px;
  }
  48% {
    opacity: 0;
    right: 127px;
  }
  52% {
    opacity: 1;
    right: 29px;
  }
  70% {
    opacity: 1;
    right: 29px;
  }
  100% {
    opacity: 0;
    right: 29px;
  }
}

@-moz-keyframes cssload-title {
  0% {
    opacity: 0;
    right: 127px;
  }
  48% {
    opacity: 0;
    right: 127px;
  }
  52% {
    opacity: 1;
    right: 29px;
  }
  70% {
    opacity: 1;
    right: 29px;
  }
  100% {
    opacity: 0;
    right: 29px;
  }
}

@keyframes cssload-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes cssload-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes cssload-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes cssload-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cssload-bg {
  0% {
    background-color: rgb(48,111,153);
  }
  50% {
    background-color: rgb(25,71,15);
  }
  90% {
    background-color: rgb(115,74,16);
  }
}

@-o-keyframes cssload-bg {
  0% {
    background-color: rgb(48,111,153);
  }
  50% {
    background-color: rgb(25,71,15);
  }
  90% {
    background-color: rgb(115,74,16);
  }
}

@-ms-keyframes cssload-bg {
  0% {
    background-color: rgb(48,111,153);
  }
  50% {
    background-color: rgb(25,71,15);
  }
  90% {
    background-color: rgb(115,74,16);
  }
}

@-webkit-keyframes cssload-bg {
  0% {
    background-color: rgb(48,111,153);
  }
  50% {
    background-color: rgb(25,71,15);
  }
  90% {
    background-color: rgb(115,74,16);
  }
}

@-moz-keyframes cssload-bg {
  0% {
    background-color: rgb(48,111,153);
  }
  50% {
    background-color: rgb(25,71,15);
  }
  90% {
    background-color: rgb(115,74,16);
  }
}

@keyframes cssload-blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -20px;
  }
  45% {
    opacity: 1;
    right: 78px;
  }
  50% {
    opacity: 0;
    right: -20px;
  }
  51% {
    right: -20px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -20px;
  }
  95% {
    opacity: 1;
    right: 78px;
  }
  96% {
    right: -20px;
  }
  100% {
    opacity: 0;
    right: -20px;
  }
}

@-o-keyframes cssload-blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -20px;
  }
  45% {
    opacity: 1;
    right: 78px;
  }
  50% {
    opacity: 0;
    right: -20px;
  }
  51% {
    right: -20px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -20px;
  }
  95% {
    opacity: 1;
    right: 78px;
  }
  96% {
    right: -20px;
  }
  100% {
    opacity: 0;
    right: -20px;
  }
}

@-ms-keyframes cssload-blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -20px;
  }
  45% {
    opacity: 1;
    right: 78px;
  }
  50% {
    opacity: 0;
    right: -20px;
  }
  51% {
    right: -20px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -20px;
  }
  95% {
    opacity: 1;
    right: 78px;
  }
  96% {
    right: -20px;
  }
  100% {
    opacity: 0;
    right: -20px;
  }
}

@-webkit-keyframes cssload-blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -20px;
  }
  45% {
    opacity: 1;
    right: 78px;
  }
  50% {
    opacity: 0;
    right: -20px;
  }
  51% {
    right: -20px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -20px;
  }
  95% {
    opacity: 1;
    right: 78px;
  }
  96% {
    right: -20px;
  }
  100% {
    opacity: 0;
    right: -20px;
  }
}

@-moz-keyframes cssload-blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -20px;
  }
  45% {
    opacity: 1;
    right: 78px;
  }
  50% {
    opacity: 0;
    right: -20px;
  }
  51% {
    right: -20px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -20px;
  }
  95% {
    opacity: 1;
    right: 78px;
  }
  96% {
    right: -20px;
  }
  100% {
    opacity: 0;
    right: -20px;
  }
}

.scrollup {
  background-color: #DD4B39;
  border-radius: 4px;
  bottom: 50px;
  color: #fff;
  display: none;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 1;
}
  /*===============================================================
    1. #preloader stylesheet End
    ==============================================================*/

.legion-header-section {
  background-color: #494949;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
}
.legion-header-section::before {
  background-color: rgba(0, 0, 0, 0.75);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.legion-portfolio-background-right {
  background-image: url("images/WALTONS 14.jpg");
  background-size: cover;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  background-repeat: no-repeat;
  min-height: 600px;
}
.legion-banner-slide-item {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.legion-header-logo {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
.legion-header-menu {
  display: none;
  position: absolute;
  right: 206px;
  z-index: 1;
}
.legion-header-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.legion-header-menu a {
  color: #fff;
  text-transform: uppercase;
}
.legion-portfolio-menu-toggle {
  background-color: #DD4B39;
  height: 40px;
  line-height: 43px;
  position: absolute;
  right: 21%;
  text-align: center;
  top: 0;
  width: 40px;
  z-index: 1;
}
.legion-portfolio-menu-toggle i {
  color: #fff;
  font-size: 1.563em;
}

.legion-header-mein-content h1 {
  color: #fff;
  font-size: 3.188em;
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  display: inline-block;
}
.legion-header-mein-content h1::before {
  bottom: 37px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% + 50px);
}
.legion-header-mein-content p{
  color: #fff;
  font-size: 1.375em;
  letter-spacing: 5px;
  margin: 0;
  padding-bottom: 20px;
}
.legion-header-social-icon ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.legion-header-social-icon li {
 display: inline-block;
}
.legion-header-social-icon a {
  color: #fff;
  font-size: 1.375em;
  letter-spacing: 16px;
  position: relative;
  transition: all 0.4s;
}
.legion-header-social-icon a:hover {
  color: #DD4B39;
}
.legion-header-mein-content-colume {
  display: table;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 60%;
  z-index: 1;
}

.legion-header-mein-content {
  display: table-cell;
  vertical-align: middle;
}
.legion-header-mein-content-colume::before {
  background-image: url("images/portfolio.shape-img-2.png");
  background-repeat: no-repeat;
  bottom: -15%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.legion-header-mein-content-colume::after {
    background-image: url(images/portfolio.shape-img.png);
    background-repeat: no-repeat;
    bottom: 90px;
    content: "";
    height: 51px;
    position: absolute;
    right: 10px;
    width: 154px;
}

/*.BG {
  background-color: rgb(0, 0, 0);
  opacity: 0.749;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1900px;
  height: 790px;
  z-index: 8;
}

*/

.legion-about-header-section {
  background-color: #DD4B39;
  height: 100vh;
  min-height: 600px;
  position: relative;
}
.legion-about-portfolio-background-right {
  background-image: url("images/portfolio-header-bg-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 600px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
.legion-about-portfolio-background-right::before {
  background-color: rgba(0, 0, 0, 0.75);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.legion-about-header-logo {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
.legion-about-header-menu {
  display: none;
  position: absolute;
  right: 16%;
  z-index: 2;
}
.legion-about-header-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.portfolio-menu-scroll  li {
  margin-bottom: 10px;
}
.legion-about-header-menu a {
  color: #fff;
  text-transform: uppercase;
}
.legion-about-portfolio-menu-toggle {
  background-color: #DD4B39;
  height: 40px;
  line-height: 43px;
  position: absolute;
  right: 21%;
  text-align: center;
  top: 0;
  width: 40px;
  z-index: 2;
}
.legion-about-portfolio-menu-toggle i {
  color: #fff;
  font-size: 1.563em;
}

.legion-about-header-mein-content h1 {
  color: #fff;
  font-size: 3.188em;
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  display: inline-block;
}
.legion-about-header-mein-content h1::before {
  background-color: #212121;
  bottom: 37px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% + 50px);
}
.legion-about-header-mein-content p{
  color: #fff;
  font-size: 1.375em;
  letter-spacing: 5px;
  margin: 0;
  padding-bottom: 20px;
}
.legion-about-header-social-icon ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.legion-about-header-social-icon li {
 display: inline-block;
}
.legion-about-header-social-icon a {
  color: #fff;
  font-size: 1.375em;
  letter-spacing: 16px;
  position: relative;
  transition: all 0.4s;
}
.legion-about-header-social-icon a:hover {
  color: #212121;
}
.legion-about-header-mein-content-colume {
  display: table;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 60%;
  z-index: 1;
}
.legion-about-header-mein-content {
  display: table-cell;
  vertical-align: middle;
}
.legion-about-header-mein-content-colume::before {
  background-image: url("images/portfolio.shape-img-2.png");
  background-repeat: no-repeat;
  bottom: -15%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.legion-about-header-mein-content-colume::after {
  background-image: url("images/portfolio.shape-img.png");
  background-repeat: no-repeat;
  bottom: -75%;
  content: "";
  height: 100%;
  position: absolute;
  right: -75%;
  width: 100%;
}
.legion-about-header-single-img {
    position: absolute;
    bottom: 60px;
    z-index: 2;
    width: 250px;
    left: -140px;
}


  /*===============================================================
    2.legion--header-section End
  ==============================================================*/

.legion-portfolio-heding {
  padding: 70px 0 140px;
  text-align: center;
}
.legion-portfolio-heding h2 {
  color: #444444;
  display: inline-block;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.legion-portfolio-heding h2::before {
  background: #DD4B39 none repeat scroll 0 0;
  bottom: -20px;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 52px;
  z-index: 1;
}
.legion-portfolio-heding span {
  background-color: #dddddd;
  bottom: -20px;
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.legion-portfolio-heding span::before {
  background-color: #DD4B39;
  bottom: -2px;
  content: "";
  height: 9px;
  position: absolute;
  right: 0;
  width: 8px;
}
.legion-portfolio-heding span::after {
  background-color: #DD4B39;
  bottom: -2px;
  content: "";
  height: 9px;
  position: absolute;
  left: 0;
  width: 8px;
}
.legion-portfolio-about-inner-section-button-right {
  margin-bottom: 61px;
}
.legion-portfolio-about-inner-section-text-right h3 {
  color: #333333;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 25px;
}
.legion-portfolio-about-inner-section-text-right p {
  color: #333;
  font-size: 0.875em;
  line-height: 25px;
  margin-bottom: 55px;
  font-weight: 400;
}
.legion-about-logo {
  position: absolute;
  right: 0;
  text-align: right;
  top: -20px;
}
.legion-portfolio-btn {
  clear: both;
  content: "";
  display: table;
  position: relative;
  width: 100%;
}
.legion-portfolio-btn a {
  background-color: #DD4B39;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 1.125em;
  font-weight: 600;
  padding: 16px 34px;
  position: relative;
  z-index: 0;
}
.legion-portfolio-btn a::before {
  background: #000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 0;
}
.legion-portfolio-btn a:hover::before{
  width: 100%;
  z-index: -1;
}

.legion-about-logo  img {
  width: 70%;
}
.legion-about-logo p {
  color: #333;
  font-size: 0.875em;
  margin: 0;
}
.legion-portfolio-about-section {
  background-color: #f4f4f4;
  padding: 0 0 100px;
}
.legion-portfolio-single-team-skill {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 20px;
}
.legion-portfolio-single-team-skill p::after {
  display: none;
}
.legion-portfolio-single-team-skill > p {
  float: left;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: -5px;
  width: 20%;
}
.legion-portfolio-single-team-skill p, .legion-portfolio-single-team-skill p span {
  line-height: 16px;
  text-transform: uppercase;
}
.legion-portfolio-team-skill {
  border-radius: 10px;
  float: left;
  height: 12px;
  position: relative;
  top: -5px;
  width: 67%;
}
.legion-portfolio-skill-right {
  background: #265BEC;
  border-radius: 10px;
  height: 10px;
  left: 0;
  margin-top: -5px;
  overflow: inherit;
  position: relative;
  top: 50%;
  width: 0;
}
.legion-portfolio-skill-percentage {
  float: left;
  left: 5px;
  position: relative;
  text-align: right;
  top: -11px;
  width: 11%;
}
.legion-portfolio-skill-percentage {
  text-align: right;
}
/*===============================================================
  3.egion-portfolio-about-section End
 ==============================================================*/

.legion-experience-inner-single-section {
  clear: both;
  content: "";
  display: table;
  padding-bottom: 25px;
  position: relative;
}
.legion-bar-icon {
  float: left;
}
.legion-experience-heding-title {
  float: left;
  margin-bottom: 30px;
}
.legion-experience-single-date {
  float: right;
}
.legion-experience-single-bottom {
  clear: both;
  content: "";
  display: table;
  float: left;
  margin-left: 76px;
  width: calc(100% - 76px);
}
.legion-experience-single-bottom p {
  color: #333;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 25px;
}
.legion-experience-section {
  background-color: #f4f4f4;
}
.legion-bar-icon {
  float: left;
  width: 75px;
  position: relative;
}
.legion-experience-inner-single-section::before {
  background-color: #dcdcdc;
  content: "";
  height: calc(100% + 24px);
  left: 29px;
  position: absolute;
  top: 0;
  width: 6px;
}
.legion-experience-inner-single-section::after {
  background-color: #DD4B39;
  content: "";
  height: 35px;
  left: 29px;
  position: absolute;
  top: 50%;
  width: 6px;
  transform: translateY(50%);
}
.legion-bar-icon i {
  background-color: #DD4B39;
  border: 5px solid #fff;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.13);
  color: #fff;
  display: block;
  font-size: 1.875em;
  height: 60px;
  line-height: 27px;
  width: 60px;
  text-align: center;
  line-height: 49px;
}
.legion-experience-inner-single-section span::before {
  background: #DD4B39 none repeat scroll 0 0;
  content: "";
  height: 10px;
  left: 27px;
  position: absolute;
  top: auto;
  bottom: -25px;
  width: 10px;
}
.legion-experience-heding-title  h2 {
  color: #444444;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}
.legion-experience-heding-title h3 {
  color: #444;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}
.legion-experience-single-date h4 {
  color: #444444;
  font-size: 1.5em;
  font-weight: 600;
}
/*===============================================================
  4.legion-experience-section End
 ==============================================================*/

.legion-gallery-section {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
}
.legion-gallery-overly {
  padding: 0 0 50px;
}
.portfolio-gallery-inner {
  height: 100%;
  padding: 12px;
  position: relative;
}
.legion-gallery-item {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.legion-gallery-item  img {
  width: 100%;
}
.item-color{
  background-color: #DD4B39;
}
.legion-gallery-hover-overly {
  background: rgba(255, 255, 255, 0.79) none repeat scroll 0 0;
  border: 10px solid #cfdbd3;
  height: 90%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease 0s;
  width: 90%;
  opacity: 0;
}
.portfolio-gallery-inner:hover .legion-gallery-hover-overly {
  opacity: 1;
}
.legion-gallery-hover-overly::before {
  background-color: #DD4B39;
  content: "";
  height: 16px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 16px;
}
.legion-gallery-hover-overly::after {
  background-color: #DD4B39;
  content: "";
  height: 16px;
  right: -10px;
  position: absolute;
  top: -10px;
  width: 16px;
}
.legion-portfolio-item::before {
  background: #DD4B39 none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  display: block;
  height: 16px;
  left: -10px;
  position: absolute;
  width: 16px;
}
.legion-portfolio-item::after {
  background: #DD4B39 none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  display: block;
  height: 16px;
  right: -10px;
  position: absolute;
  width: 16px;
}
#watch-filter-gallery  ul {
 margin:0;
 padding: 0;
 list-style: none;
}
#watch-filter-gallery  li {
  display: inline-block;
}
.legion-gallery-hover h2 {
  color: #333;
  font-size: 1.125em;
  font-weight: 600;
  margin: 0;
}
.legion-gallery-hover > span {
  color: #DD4B39;
  font-size: 2.375em;
  font-weight: 300;
}
.legion-gallery-hover {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  cursor: pointer;
}

.legion-portfolio-gallery-btn {
  clear: both;
  display: table;
  margin: 0 auto;
  padding: 80px 0 0;
  position: relative;
}
.legion-portfolio-gallery-btn a {
  background-color: #DD4B39;
  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 16px 34px;
  position: relative;
  text-transform: uppercase;
  z-index: 0;
}
.legion-portfolio-gallery-btn a::before {
  background: #000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 0;
}
.legion-portfolio-gallery-btn a:hover::before{
  width: 100%;
  z-index: -1;
}
#watch-filter-gallery {
  margin: 30px 0 0 30px;
  padding: 0;
  position: relative;
  text-align: left;
}
#watch-filter-gallery::after {
  background-color: #fff;
  content: "";
  display: block;
  height: calc(100% - 18px);
  left: -2px;
  position: absolute;
  top: 9px;
  width: 2px;
}
#watch-filter-gallery li{
  display: block;
  margin: 15px 0;
  padding-left: 20px;
  position: relative;
}
#watch-filter-gallery li:first-child {
  margin-top: 0;
  padding-left: 15px;
}
#watch-filter-gallery li:last-child {
  margin-bottom: 0;
}
#watch-filter-gallery li::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 8px;
  left: -5px;
  position: absolute;
  top: 13px;
  transform: translateY(-50%);
  width: 8px;
  opacity: 0;
  visibility: hidden;
}
#watch-filter-gallery li a {
  color: #fff;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
}
#watch-filter-gallery li.selected::after {
  visibility: visible;
  opacity: 1;
}
.legion-filter-item .portfolio-gallery-inner {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
}
.legion-filter-item .legion-gallery-item {
  display: table-cell;
  vertical-align: middle;
}
/*===============================================================
  5.legion-gallery-section End
 ==============================================================*/

.legion-portfolio-call-to-action-section {
  background-color: #fff;
  padding: 100px 0;
}
.legion-portfolio-call-to-action-mein-section {
  background-color: rgb(41, 98, 255);
  border: 20px solid #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.17);
  clear: both;
  display: table;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.legion-portfolio-call-to-action-left {
  float: left;
  padding: 20px;
  width: 35%;
}
.legion-portfolio-call-to-action-right {
  float: right;
  padding: 10px 0;
  width: 65%;
}
.legion-portfolio-call-to-action-right h2 {
  color: #fff;
  font-size: 1.875em;
  font-weight: 600;
}
.legion-portfolio-call-to-action-right p {
  color: #fff;
  font-size: 0.875em;
  margin-bottom: 45px;
}

.legion-btn {
  display: inline-block;
}
.legion-btn a {
  background-color: transparent;
  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 75px;
  position: relative;
  text-transform: uppercase;
  z-index: 0;
  display: block;
}
.legion-btn a::before {
  background: rgb(21, 62, 176);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0px;
  transition: all 0.4s;
  z-index: -1;
}
.legion-btn a::after {
  content: "";
  display: block;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.legion-btn a:hover::before{
  width: 100%;
  color:#000;
  z-index: -1;
}
.legion-btn:hover, .legion-btn:active {
  color: #0e83cd;
}
/*===============================================================
  6.legion-portfolio-call-to-action-section End
 ==============================================================*/

.legion-testimonial-slider-section {
  background-color: #f4f4f4;
  padding: 0 0 100px;
  position: relative;
  text-align: center;
}
.legion-testimonial-inner-single-slider-section {
  position: relative;
}

.testimonial-img {
  border-top:4px solid #999999;
  box-shadow: 0 10px 27px 0 rgba(0, 0, 0, 0.27);
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  top: -4px;
}

.legion-testimonial-inner-single-slider-section {
  background-color: #efefef;
  margin: 0 auto;
  padding: 50px 0 30px;
  position: relative;
  transition: all 0.2s ease 0s;
}
.legion-testimonial-inner-single-slider-section h2 {
  color: #666666;
  font-size: 1.125em;
  font-weight: 600;
  margin: 0;
}
.legion-testimonial-inner-single-slider-section h3 {
  color: #666666;
  font-size: 0.875em;
  font-weight: 300;
  margin: 0;
  padding: 10px 0 30px;
  text-transform: uppercase;
}
.legion-testimonial-inner-single-slider-section span {
  font-style: italic;
}
.legion-testimonial-inner-single-slider-section p {
  color: #333;
  font-size: 0.875em;
  margin: 0 auto;
  width: 80%;
}
.single-testimonoal-colume {
  padding-top: 40px;
}

.legion-testimonial-slider .owl-nav {
  bottom: 0;
  left: 50%;
  min-width: 100px;
  position: absolute;
  transform: translateX(-50%);
}
.legion-testimonial-slider .owl-prev {
  border: 1px solid #333;
  color: #333;
  float: left;
  font-size: 1.25em;
  height: 40px;
  line-height: 35px;
  text-align: center;
  width: 40px;
  transition: all 0.4s;
}
.legion-testimonial-slider .owl-prev:hover {
  border: 1px solid #DD4B39;
  color: #DD4B39;
}
.legion-testimonial-slider .owl-next {
  border: 1px solid #333;
  color: #333;
  float: right;
  font-size: 1.25em;
  height: 40px;
  line-height: 35px;
  text-align: center;
  width: 40px;
  transition: all 0.4s;
}
.legion-testimonial-slider .owl-next:hover {
  border: 1px solid #DD4B39;
  color: #DD4B39;
}
.legion-testimonial-slider.owl-carousel .owl-stage-outer {
  border-top: 4px solid #ddd;
  overflow: visible;
  padding-bottom: 40px;
}
.legion-testimonial-slider.owl-carousel.owl-theme.owl-loaded.owl-drag {
  overflow: hidden;
  padding-bottom: 50px;
}
.legion-testimonial-slider .owl-stage .owl-item.active.center .testimonial-img{
  border-top: 4px solid #DD4B39;
}
.legion-testimonial-slider .owl-stage .owl-item.active.center .legion-testimonial-inner-single-slider-section{
 background: #DD4B39;
}
.legion-testimonial-slider .owl-stage .owl-item.active.center .legion-testimonial-inner-single-slider-section h2{
 color:#fff;
}
.legion-testimonial-slider .owl-stage .owl-item.active.center .legion-testimonial-inner-single-slider-section h3{
 color:#fff;
}
.legion-testimonial-slider .owl-stage .owl-item.active.center .legion-testimonial-inner-single-slider-section p{
 color:#fff
}

/*===============================================================
  7.legion-testimonial-slider-section End
 ==============================================================*/

.legion-client-area {
  background-color: #DD4B39;
  padding: 20px 0;
}
.legion-client-slider.owl-carousel .owl-item img {
  margin: auto;
  width: auto;
}
.legion-single-client-section {
  display: table;
  height: 100px;
  text-align: center;
  width: 100%;
}
.legion-single-client-section  a {
  display: table-cell;
  vertical-align: middle;
}
.legion-single-client-section img {
  max-height: 80px;
}

/*===============================================================
  8.legion-client-area End
 ==============================================================*/

.legion-contact-form-section {
  position: relative;
}
#map {
  width: 100%;
  height: 700px;
}

.legion-contact-form-left {
  float: left;
  width: 40%;
}
.legion-contact-form-right {
  float: left;
  width: 60%;
}
.legion-contact-form-colume {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.11);
  left: 50%;
  max-width: 900px;
  padding: 70px 55px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.legion-contact-form-left {
  float: left;
  width: 50%;
}
.legion-contact-form-right {
  float: left;
  width: 50%;
}
.legion-contact-form-left  ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.legion-contact-form-left li {
  margin-bottom: 50px;
}
.legion-contact-form-left img {
  float: left;
  margin-right: 30px;
}
.legion-contact-form-left p {
  color: #333333;
  font-size: 0.875em;
}
.legion-form-group {
  margin-bottom: 40px;
}
.legion-form-group input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor currentcolor #dddddd;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #333333;
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 75px;
  padding: 8px 5px;
  width: 100%;
}
.legion-form-group input:focus {
  border-bottom: 1px solid #DD4B39;
}

.legion-form-group textarea {
  color: #333333;
  font-size: 0.875em;
  font-style: italic;
  padding: 8px 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  height: 70px;
}
.legion-form-group textarea:focus {
  border-bottom: 1px solid #DD4B39;
}

.fortfolio-button {
  clear: both;
  display: table;
  position: relative;
}
.fortfolio-button input {
  background-color: #DD4B39;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 1.125em;
  font-weight: 600;
  padding: 16px 45px;
  position: relative;
  text-transform: uppercase;
}
.fortfolio-button input::before {
  background: #000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 0;
}
.fortfolio-button input:hover::before{
  width: 100%;
  z-index: 9999;
}

.error {
  font-size: 14px;
}

.legion-single-group-left{
  width: 45%;
  float: left;
}
.legion-single-group-right{
  width: 45%;
  float: right;
}
.legion-contact-form-left  h2 {
  color: #666666;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0 0 70px;
  text-transform: uppercase;
}
.legion-contact-form-right h2 {
  color: #666666;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0 0 45px;
  text-transform: uppercase;
}
/*===============================================================
  9.legion-contact-form-section End
 ==============================================================*/

.legion-fotter-section {
  background-color: #212121;
  border-bottom: 6px solid #DD4B39;
  padding: 100px 0;
  text-align: center;
  position: relative;
}
.legion-fotter-section::before {
  background-color: #dddddd;
  bottom: -6px;
  content: "";
  height: 6px;
  left: 145px;
  position: absolute;
  width: 170px;
}
.legion-fotter-section::after {
  background-color: #dddddd;
  bottom: -6px;
  content: "";
  height: 6px;
  right: 145px;
  position: absolute;
  width: 170px;
}
.legion-fotter-social-icon {
  padding: 25px;
}
.legion-fotter-social-icon h2 {
  color: #fff;
  font-size: 2.25em;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.legion-fotter-social-icon  ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.legion-fotter-social-icon li {
  display: inline-block;
  margin-right: 15px;
}
.legion-fotter-social-icon a {
  color: #fff;
  font-size: 1.375em;
  transition: all 0.4s;
}
.legion-fotter-social-icon a:hover {
  color: #DD4B39;
}
.legion-fotter-content  p {
  color: #999999;
  font-size: 1.375em;
  margin: 0;
  position: relative;
}
.legion-fotter-content p::before {
  background-color: #dddddd;
  bottom: -106px;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 170px;
}
.legion-fotter-content span {
  color: #fff;
  font-weight: 600;
}

/*===============================================================
  10.legion-fotter-section End
 ==============================================================*/

/* Start */

.myra-classic-menu {
  display: inline-block;
  float: right;
  margin-right: 15px;
}
.myra-classic-menu li {
  display: inline-block;
}
.myra-classic-menu li a {
  display: inline-block;
  padding: 13px 10px;
}

.header-top-area {
  position: fixed;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
  z-index: 2;
}
.main-menu-area {
  position: relative;
}
.main-menu-area.menu-bg {
  background-color: rgb(255, 255, 255);
}
.logo {
  transition: all .4s ease-in-out;
}
.sticky-menu {
  background-color: #DD4B39;
  box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.45);
  padding: 10px 0;
  z-index: 3;
}

/* Burger Full Screen Menu */

/********* Start Navbar Icon Toggle ********/

.legion-menu .nav-icon {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 0;
  top: 11px;
  transform: rotate(0deg);
  width: 40px;
}
.legion-menu .nav-icon span {
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 4px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  width: 100%;
  border-radius: 50px;
}
.legion-menu .nav-icon span:nth-child(1) { 
  top: 0px
}

.legion-menu .nav-icon span:nth-child(2) {
  top: 12px;
  width: 70%;
  left: 15%;
}

.legion-menu .nav-icon span:nth-child(3) { 
  top: 24px 
}

.legion-menu .nav-icon.active span:nth-child(1) {
  background-color: #DD4B39;
  top: 8px;
  transform: rotate(135deg);
}
.legion-menu .nav-icon.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.legion-menu .nav-icon.active span:nth-child(3) {
  background-color: #DD4B39;
  top: 8px;
  transform: rotate(-135deg);
}
.legion-overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  z-index: -1;
}
.legion-overlay-menu:before {
  content: '';
  background: #000;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.legion-overlay-menu:after {
  content: '';
  background: #000;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute
}

.legion-overlay-menu.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.legion-overlay-menu.open:before {
  left: 0;
}
.legion-overlay-menu.open:after {
  right: 0;
}
.legion-overlay-menu.open li {
  animation: fadeInRight 500ms ease forwards;
  animation-delay: 100ms;
}
.legion-overlay-menu.open li:nth-of-type(2) {
  animation-delay: 200ms;
}
.legion-overlay-menu.open li:nth-of-type(3) {
  animation-delay: 300ms;
}
.legion-overlay-menu.open li:nth-of-type(4) {
  animation-delay: 400ms;
}

.legion-overlay-menu.open li:nth-of-type(5) {
  animation-delay: 500ms;
}

.legion-overlay-menu.open li:nth-of-type(6) {
  animation-delay: 600ms;
}

.legion-overlay-menu.open li:nth-of-type(7) {
  animation-delay: 700ms;
}

.legion-overlay-menu.open li:nth-of-type(8) {
  animation-delay: 800ms;
}

.legion-overlay-menu.open li:nth-of-type(9) {
  animation-delay: 900ms;
}

.legion-overlay-menu.open li:nth-of-type(10) {
  animation-delay: 1000ms;
}

.legion-overlay-menu.open li:nth-of-type(11) {
  animation-delay: 1100ms;
}

.legion-overlay-menu.open li:nth-of-type(12) {
  animation-delay: 1200ms;
}

.legion-overlay-menu.open li:nth-of-type(13) {
  animation-delay: 1300ms;
}

.legion-overlay-menu.open li:nth-of-type(14) {
  animation-delay: 1400ms;
}

.legion-overlay-menu.open li:nth-of-type(15) {
  animation-delay: 1500ms;
}

.legion-overlay-menu.open li:nth-of-type(16) {
  animation-delay: 1600ms;
}

.legion-overlay-menu.open li:nth-of-type(17) {
  animation-delay: 1700ms;
}

.legion-overlay-menu.open li:nth-of-type(18) {
  animation-delay: 1800ms;
}

.legion-overlay-menu.open li:nth-of-type(19) {
  animation-delay: 1900ms;
}

.legion-overlay-menu.open li:nth-of-type(20) {
  animation-delay: 2000ms;
}
.legion-overlay-menu nav {
  position: relative;
  height: 50%;
  top: 35%;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  z-index: 100;
  transform: translateY(-50%);
}

.legion-overlay-menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.legion-overlay-menu ul li {
  display: block;
  height: calc(100% / 6);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.legion-overlay-menu ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  font-size: 18px;
  text-transform: uppercase;
}

.legion-overlay-menu ul li a:focus:after,
.legion-overlay-menu ul li a:active:after {
  width: 100%;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.nav-icon, .nav-icon span,
.legion-overlay-menu, .legion-overlay-menu:before,
.legion-overlay-menu:after,
.scroll::after, .scroll::before{
  transition: all .5s ease-in-out
}

.logo {
  padding: 2px 0;
}
/*----------------------------------------------------------------------
  Contact form extra styles
-----------------------------------------------------------------------*/
.contact-alert-message {
  padding: 35px 0 25px;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
#mail_success, #mail_fail {
  display: none;
}
#mail_fail i {
  color: #ff0000;
  -o-animation: flash 3s ease 0s backwards;
  -ms-animation: flash 3s ease 0s backwards;
  -moz-animation: flash 3s ease 0s backwards;
  -webkit-animation: flash 3s ease 0s backwards;
  animation: flash 3s ease 0s backwards;
}
#mail_success i {
  color: #2eb267;
  -o-animation: flash 3s ease 0s backwards;
  -ms-animation: flash 3s ease 0s backwards;
  -moz-animation: flash 3s ease 0s backwards;
  -webkit-animation: flash 3s ease 0s backwards;
  animation: flash 3s ease 0s backwards;
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
          animation-name: flash;
}
@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotate
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.form_loader {
  -webkit-animation: 3s linear 0s normal none infinite running spinnerRotate;
  animation: 3s linear 0s normal none infinite running spinnerRotate;
  background-color: transparent;
  background-image: url("images/loading.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  top: 23px;
  content: "";
  display: block;
  height: 20px;
  right: -35px;
  position: absolute;
  transform: scale(0);
  width: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.form_loader.mcform_submitting {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.legion-form-group.filed_error input,
.legion-form-group.filed_error textarea {
  border-bottom-color: red;
}